body {
    background-color: #D3C0B1;
    font-family: 'Arial', sans-serif;
    color: #8B4513;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;

    background-color: #5A6E41;
    color: #ffffff80;
    height: 60px;
    width: 100%;
    padding: 0 20px; 
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
}

header nav {
    display: flex;
    justify-content: space-between; /* This will push the .header-content and .header-link to opposite ends */
    align-items: center; /* This will vertically center them */
    padding: 0 20px; /* This adds padding on the left and right */
    background-color: #5A6E41; /* Example background color */
}

.header-content{
    position: absolute;
    left: 20px;
}

.header-link {
    text-align: right;
    position: absolute;
    right: 20px;
}

#header-text {
    margin: 0; /* This removes default margins from the paragraph if necessary */
}

#resume-link {
    text-align: right; /* This aligns the link to the right */
    padding-right: 20px; /* This ensures there is a 20px buffer on the right */
    color: #ffffffc0; 

}

/* #resume-link {
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: underline;
    font-weight: bold;
} */

/* #header-text{
    margin: 0;
} */

/* .header-content {
    text-align: center;
    flex: 1;
} */

/* .header-link {

} */


main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.photo img {
    max-width: 30%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px; 
}

.photo p {
    max-width: 30%; 
    margin: 0 auto;
}

.lists ol, .lists ul {
    text-align: left; 
}

.video iframe {
    display: block;
    margin: 0 auto; 
    margin-bottom: 20px;
}


.lists {
    margin-bottom: 20px; 
}

.tableauPlaceholder {
    display: block; /* This sets the element to block, which is what you're looking for */
    margin: 0 auto; /* This will center the block element in the middle of its parent */
    max-width: 1440px; /* Set a max-width if needed */
    margin-bottom: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #5A6E41; 
    color: #ffffff80;
    padding: 10px 20px; 
    width: calc(100%); 
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0; 
    font-family: 'Courier New', Courier, monospace;
}


#anchorlink{
    color: #ffffffc0; 
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: underline;
}

.footer-content {
    text-align: center;
    flex: 1; /* Allows the copyright text to take up available space */
}

.footer-link {
    position: absolute;
    right: 20px; /* 20px buffer from the right edge */
}


